$basic-font:'NanumBarunGothic','나눔바른고딕','맑은 고딕','Malgun Gothic',Dotum,Arial,sans-serif;
$primary-font:'NanumSquare','나눔스퀘어','NanumBarunGothic','나눔바른고딕','맑은 고딕','Malgun Gothic',Dotum,Arial,sans-serif;
$basic-color:#4a4a4a;
$primary-color:#47d3d0;
$primary-color2:#ff772d;
$primary-color3:#3f94ff;
$hover-color:#268fe7;
$point-color:#fbd66d;
$box:border-box;
