// text hidden
@mixin text-hidden {
  text-indent:-9999em;
  font-size:0;
}
// center align
@mixin center-align {
  position:absolute;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
// center align
@mixin before-block {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
}
// text-ellipsis in Responsive Design
@mixin text-ellipsis {
  display:block;
  word-wrap:normal;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
// layout
$max-width:1200px; //양 사이드로 20px 패딩 - 실 사이즈는 1160
@mixin center-layout($wid:$max-width) {
  max-width:$wid;
  margin:0 auto;
}
// font-size
@mixin font-size($size) {
  font-size:$size*1px;
  font-size:$size*0.1rem;
}
// 단어 단위로 줄바꿈
@mixin word-br{
  word-break:keep-all;
  word-wrap:break-word;
}
// --------------------------------------------------
// 미디어 쿼리 MIXIN
// Break Point (Desktop First 기준 내림차순 설정)
$desktop-large	: 1440px;
$content-width 	: 1160px;
$desktop-small	: 1024px;
$tablet-width	: 768px;
$mobile-large	: 640px;
$mobile-medium	: 425px;
$mobile-small	: 375px;
// Desktop large
@mixin media-desktop-large {
  @media screen and (min-width: #{$desktop-large + 1}) {
    @content;
  }
}
// content
@mixin media-content {
  @media screen and (max-width: #{$content-width}) {
    @content;
  }
}
// 태블릿 이상 데스크탑
@mixin media-desktop {
  @media screen and (min-width: #{$desktop-small + 1}) {
    @content;
  }
}
// --------------------------------------------------
// 태블릿
@mixin media-tablet {
  @media screen and (max-width: #{$desktop-small}) {
    @content;
  }
}
// 모바일
@mixin media-mobile {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}
// 모바일 large
@mixin media-mobile-large {
  @media screen and (max-width: #{$mobile-large}) {
    @content;
  }
}
// 모바일 medium
@mixin media-mobile-medium {
  @media screen and (max-width: #{$mobile-medium}) {
    @content;
  }
}
// 모바일 small
@mixin media-mobile-small {
  @media screen and (max-width: #{$mobile-small}) {
    @content;
  }
}

// table mixin
@mixin display-table {
  display:table;
  width:100%;
}
@mixin table-row {
  display:table-row;
  width:100%;
}
@mixin cell {
  display:table-cell;
  vertical-align:middle;
}
