.gallery-list{
    &.collabo{
        margin-top: 20px; border-top: 1px solid #707070;
        li{
            padding: 20px 0; display: table; table-layout: fixed; width: 100%;
            .text{
                display: table-cell; vertical-align: middle; padding-left: 40px;
                .title{
                    font-size: 24px; margin-bottom: 20px; display: block; line-height: 1.3; word-break: break-all;

                }
                p{
                    margin-bottom: 10px; font-size: 1.6rem;
                }
            }
        }
    }
}
.tag_group{
    margin-top: 20px;
    .tag{
        margin-right: 10px; cursor: pointer;
        &::before{
            content: '#'; display: inline-block; width: 10px;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            color: #016cbf;
        }
    }
}
.checks{
    &.center{
        position: relative;
        input[type=checkbox]{
            top: 50%; transform: translateY(-50%);
            + label{
                &::before{
                    position: absolute; top: calc(50% + 2px); transform: translateY(-50%);
                }
            }
        }
    }
}
.btn-area{
    .btn{
        &.btn-line.red{
            background-color:#fff;
            border: 1px solid #ec4444;
            color:#d94c58;
            &:focus{
                outline: none; border-width: 2px;
            }
        }
    }
}
.board-list-section{
    .text_edit_area{
        position: relative; min-height: 400px; border: 1px solid #8d8d8d; border-top: none;
        span{
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        }
    }
}
.board-view-section {
    margin-bottom: 20px;
    .board-header strong{
        &.full{
            width: 100%; margin-left: 40px;
        }
    }
    .board-footer{
        padding: 10px; border-top: 1px solid #b9b9b9; display: flex; justify-content: space-between;
    }
}
.mb-20{
    margin-bottom: 20px;
}
.file_upload_wrap{
    display: flex; justify-content: space-between; margin-top: 20px;
    .divide_wrap{
        width: calc((100% - 20px) /2); position: relative;
        .file_upload_label{
            label{
                width: calc(100% - 70px); 
            }
        }
        h5.title{
            width: 100%; line-height: 36px; font-weight: 600;
        }
        .divide_box{
            width: 100%; margin-top: 10px; border: 1px solid #8d8d8d; height: 200px;
            >div{
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &.file_upload_result{
                width: calc(100% - 70px); margin-left: 70px; max-height: 300px;
                .file_wrap{
                    margin-bottom: 10px;
                    .file_name{
                        max-width: calc(100% - 40px);
                    }
                }
            }
        }
    }
}
.file_upload_label{
    label{
        line-height: 36px; display: inline-block; position: relative; border: 1px solid #016cbf; margin-left: 70px; padding: 0 10px; text-align: center; color: #016cbf; border-radius: 7px; transition: all .2s; cursor: pointer;
        &::before{
            content: '첨부파일 :'; display: inline-block; width: 70px; height: 36px; position: absolute; top: 0; left: -70px; text-align: left;
        }
        &:hover{
            background-color: #016cbf; color: #fff;
            &::before{
                color: #016cbf;
            }
        }
        &:active{
            box-shadow: inset 2px 2px 6px rgba($color: #000000, $alpha: 0.4);
        }
        & + input[type=file]{
            opacity: 0; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; top: 0; left: 70px;
        }
    }
}
.board-attach{
    border-bottom: 1px solid #626262;
    p span{
        height: 32px; line-height: 32px; margin-right: 10px;
    }
    .file_upload_result{
        margin-right: 0; max-height: 180px;
        .file_wrap{
            color: #4a4a4a;
        }
    }
}
.file_area{
    .file_upload_result{
        height: 200px;
    }
}
.board-comment{
    h5{
        font-size: 1.75rem; margin: 20px 0; padding: 20px 0; border-bottom: 1px solid #b9b9b9;
        &::before{
            content: ''; display: inline-block; width: 20px; height: 20px; margin-right: 6px; background: url(../images/svg/reply.svg)no-repeat center /contain; vertical-align: middle;
        }
        span{
            display: inline-block; margin-left: 20px; font-size: 1.4rem; color: #4a4a4a;
        }
    }
    .comment_wrap{
        display: flex; padding: 20px;
        .writer{
            width: 100px; margin-right: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
            &::before{
                content: ''; display: inline-block; width: 16px; height: 16px; margin-right: 6px; vertical-align: middle; background: url(../images/svg/profile_empty.svg)no-repeat center/contain; 
            }
        }
        .comment{
            width: calc(100% - 120px);
            .comment_sub{
                margin-top: 10px;
                span{
                    display: inline-block; margin-right: 10px; color: #707070;
                    &.reply{
                        margin-right: 0; cursor: pointer;
                        &:hover{
                            color: #016cbf;
                        }
                    }
                }
            }
        }
        &.depth2{
            margin-left: 80px; padding-top: 0;
        }
    }
    .comment_write{
        position: relative; display: flex; margin-bottom: 20px;
        textarea{
            padding-top: 40px; height: 100px; margin-right: 5px;
        }
        span{
            position: absolute; top: 10px; left: 10px;
        }
        .btn.comment{
            height: 100px; background-color: #b1b1b1;
        }
    }
}
.collabo_title{
    display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;
    .sub-title_wrap{
        .sub-title{margin-bottom: 0;}
        h3.sub-title{
            display: inline-block;
            + h4.sub-title{
                display: inline-block; font-size: 16px; font-weight: bold; color: #707070; margin-left: 20px;
            }
        }
    }
    .button_wrap{
        width: 95px;
        button{
            padding: 0; text-align: right; border: none; position: relative; width: 95px; min-width: auto; color: #626262; line-height: 40px;
            &::before{
                content: ''; display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-right: 5px; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
            }
            &:hover{
                color: #016cbf; font-weight: 600;
            }
            &.upload{
                &::before{
                    background: url(../images/svg/upload_default.svg)no-repeat center / contain;
                }
                &:hover{
                    &::before{
                        background: url(../images/svg//upload_hover.svg)no-repeat center /contain;
                    }
                }
            }
            &.download{
                &::before{
                    background: url(../images/svg/download_default.svg)no-repeat center / contain;
                }
                &:hover{
                    &::before{
                        background: url(../images/svg//download_hover.svg)no-repeat center /contain;
                    }
                }
            }
        }
    }
    .align_wrap{
        > span{
            display: inline-block; padding: 5px 10px; position: relative; margin-right: 5px; cursor: pointer;
            &:after{
                content: ''; display: inline-block; width: 1px; height: 18px; border-right: 1px solid #016cbf; position: absolute; top: 50%; transform: translateY(-50%); right: -6px;
            }
            &:last-child{
                margin-right: 0;
                &::after{
                    content: none;
                }
            }
            &.active, &:hover{
                color: #016cbf; font-weight: 600; background: transparent;
            }
        }
    }
}
.tap-section{
    .tab-menu{
        .tab-btn{
            border-bottom: 1px solid #626262; display: flex; justify-content: space-between; align-items: flex-end;
            ul{
                display: flex; 
                li{
                    width: fit-content; border-radius: 7px 7px 0 0; border: 1px solid rgba($color: #626262, $alpha: 0.4); height: 40px; border-bottom: none;
                    a{
                        display: inline-block; padding: 10px 20px; font-size: 1.6rem; line-height: 20px; white-space: nowrap; height: 40px; color: rgba($color: #626262, $alpha: 0.7);
                    }
                    &:first-child{
                        margin-right: 10px;                        
                    }
                    &.active, &:hover{
                        background-color: #fff; border: 1px solid #626262; border-bottom: none; color: #016cbf; font-weight: 600;
                        a{
                            color: #016cbf;
                        }
                    }
                }
            }
            .group{
                margin-bottom: 10px;
            }
        }
        .tab-cont{
            border: 1px solid #626262; border-top: none; padding: 20px; height: 250px; position: relative;
            .tab{
                padding-top: 0;
                &.second-tab{
                    display: none;
                }
            }
            &.download{
                .button_wrap{
                    &.btn-area{
                        margin-top: 0; position: sticky; /* top: 0; right: 0; */ display: flex; justify-content: flex-end;
                        button.btn.btn-line.download{
                            background-color: #fff; position: relative; padding-left: 40px; border-color: #707070; color: #707070;
                            &::before{
                                content: ""; display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-right: 5px; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); background: url(../images/svg/download_default.svg) no-repeat center/contain;
                            }
                            &:hover{
                                color: #016cbf; border-color: #016cbf;
                                &::before{
                                    background: url(../images/svg/download_hover.svg) no-repeat center/contain;
                                }
                            }
                        }
                    }
                }
                .tab{
                    position: absolute; top: 20px; width: calc(100% - 173px);
                    .file_wrap{
                        cursor: pointer;
                        &:hover{
                            color: #016cbf;
                            span{
                                color: #016cbf;
                                &::before{
                                    background: url(../images/svg/paper_hover.svg)no-repeat center/contain;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .textarea_wrap{
        width: 100%; margin-top: 20px;
        textarea{
            width: 100%; padding: 20px;
        }
    }
    .history_wrap{
        margin-top: 20px; padding-top: 20px; border: 1px dashed #c3c3c3; border-left: none; border-right: none;
        .history_box{
            display: flex; min-height: 140px; position: relative; overflow: visible;
            &::before{
                content: ''; display: inline-block; width: 1px; height: 213px; border-right: 1px dashed #c3c3c3; position: absolute; top: 0; left: 25px;
            }
            .history_thumbnail{
                width: 50px; height: 50px; border-radius: 50%; background-color: #c3c3c3; margin-right: 20px; position: relative;
                .profile{
                    display: inline-block; width: 30px; height: 30px; background: url(../images/svg/profile.svg) no-repeat center /contain; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                }
            }
            .board-view-section{
                width: calc(100% - 70px); border: 1px solid #626262;
                .board-header{
                    span.save{
                        display: inline-block; width: 20px; height: 20px; text-indent: -999999px; padding: 10px; background: url(../images/svg/download_default.svg) no-repeat center /contain; cursor: pointer;
                        &:hover{
                            background: url(../images/svg/download_hover.svg) no-repeat center /contain;
                        }
                    }
                }
                .board-content{
                    height: 123px;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }

    }
}
.file_wrap{
    height: 32px; line-height: 32px;
    .file_name{
        display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: bottom; max-width: calc(100% - 40px);
        &::before{
            content: ''; display: inline-block; width: 16px; height: 16px; margin-right: 6px; vertical-align: sub; background: url(../images/svg/paper.svg)no-repeat center /contain;
        }
    }
}
.control_wrap{
    display: flex; padding: 20px 15px; width: 100%; border: 1px solid #626262; margin-bottom: 30px; background-color: #f4f4f4;
    .control_group{
        position: relative; margin-right: 30px; width: fit-content;
        &::after{
            content: ''; display: inline-block; width: 1px; height: 114px; border-right: 1px solid #626262; position: absolute; top: -21px; right: -15px;
        }
        &:last-child{
            margin-right: 0;
            &::after{
                content: none;
            }
        }
        .control_title{
            font-size: 18px; margin-bottom: 10px;
        }
    }
}
.control_btn{
    display: flex; justify-content: space-between;
    a.controler{
        display: inline-block; margin-right: 5px; min-width: auto; width: 122.875px; color: #4A4A4A; border: 1px solid #4A4A4A; background-color: #fff;
        &:last-child{
            margin-right: 0;
        }
        &::before{
            content: ''; display: inline-block; width: 20px; height: 20px; margin-right: 6px; vertical-align: middle;
        }
        &:hover{
            color: #016cbf; border-color: #016cbf;
        }
        &.active, &:active{
            color: #fff; background-color: #016cbf; border-color: transparent;
        }

        &.view_left{
            &:before{
                background: url(../images/svg/view_left.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/view_left_hover.svg) no-repeat center /contain;
                }
            }
            &.active, &:active{
                &:before{
                    background: url(../images/svg/view_left_active.svg) no-repeat center /contain;
                }
            }
        }
        &.view_right{
            &:before{
                background: url(../images/svg/view_right.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/view_right_hover.svg) no-repeat center /contain;
                }
            }
            &.active, &:active{
                &:before{
                    background: url(../images/svg/view_right_active.svg) no-repeat center /contain;
                }
            }
        }
        &.plus{
            &:before{
                background: url(../images/svg/plus.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/plus_hover.svg) no-repeat center /contain;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/plus_active.svg) no-repeat center /contain;
                }
            }
        }
        &.minus{
            &:before{
                background: url(../images/svg/minus.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/minus_hover.svg) no-repeat center /contain;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/minus_active.svg) no-repeat center /contain;
                }
            }
        }
        &.hide{
            &:before{
                background: url(../images/svg/hide.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/hide_hover.svg) no-repeat center /contain;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/hide_active.svg) no-repeat center /contain;
                }
            }
        }
        &.edit{
            &:before{
                background: url(../images/svg/edit.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/edit_hover.svg) no-repeat center /contain;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/edit_active.svg) no-repeat center /contain;
                }
            }
        }
        &.reset{
            &:before{
                background: url(../images/svg/reset.svg) no-repeat center /130%;
            }
            &:hover{
                &:before{
                background: url(../images/svg/reset_hover.svg) no-repeat center /130%;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/reset_active.svg) no-repeat center /130%;
                }
            }
        }
        &.mergeLeft{
            &:before{
                background: url(../images/svg/mergeLeft.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/mergeLeft_hover.svg) no-repeat center /contain;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/mergeLeft_active.svg) no-repeat center /contain;
                }
            }
        }
        &.mergeRight{
            &:before{
                background: url(../images/svg/mergeRight.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/mergeRight_hover.svg) no-repeat center /contain;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/mergeRight_active.svg) no-repeat center /contain;
                }
            }
        }
        
    }
}

.control_btn.btn-area.right{
    display: block; margin-bottom: 20px;
    a.controler{
        &.merge{
            &:before{
                background: url(../images/svg/mergeRight.svg) no-repeat center /contain;
            }
            &:hover{
                &:before{
                background: url(../images/svg/mergeRight_hover.svg) no-repeat center /contain;
                }
            }
            &:active{
                &:before{
                    background: url(../images/svg/mergeRight_active.svg) no-repeat center /contain;
                }
            }
        }
    }
}

.divide_section{
    display: flex; position: relative;
    .board-view-section{
        width: calc((100% - 20px) / 2);
        &:first-child{
            margin-right: 20px;
        }
        .board-header{
            strong{
                width: fit-content;
            }
            .group.flex{
                display: flex; align-items: center;
                .file_upload_label{
                    label{
                        margin-left: 0; height: 30px; line-height: 30px;
                    }
                }
                span.expand{
                    display: inline-block; text-indent: -999999px; width: 20px; height: 20px; background: url(../images/svg/expand.svg)no-repeat center / contain; cursor: pointer;
                    &:hover{
                        background: url(../images/svg/expand_hover.svg)no-repeat center / contain;
                    }
                }
            }
        }
        .board-content{
            &.center{
                position: relative; height: 300px; padding: 0;
                > p{
                    position: absolute; padding-top: 40px; top: 50%; left: 50%; transform: translate(-50%, -50%);
                    &::before{
                        content: ''; display: inline-block; width: 30px; height: 30px; margin-bottom: 5px; background: url(../images/svg/folder.svg) no-repeat center/ contain; position: absolute; top: 0; left: 50%; transform: translateX(-50%);
                    }
                }
            }
            &.file_upload_result{
                padding: 20px; height: 300px;
            }
        }
    }
}
span.warnning{
    position: absolute; bottom: -10px; color: #d94c58;
    &.right{
        right: 0;
    }
}
.btn-area.left{
    text-align: left;
}

.layer {
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: rgba($color: #979797, $alpha: 0.1); backdrop-filter: blur(0.5px); z-index: 100;
    .layer_box{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 600px; height: fit-content; background: #fff; border: 1px solid #4A4A4A; padding: 40px 20px; max-height: 600px;
        .layer_title{
            display: flex; justify-content: space-between; margin-bottom: 30px;
            h4{
                font-size: 1.8rem;
            }
            .close {
                display: inline-block; text-indent: -999999px; width: 30px; height: 30px; position: relative;
                &:before, &:after{
                    content: ''; display: inline-block; width: 1px; height: 20px; background-color: #4A4A4A; position: absolute; top: 0; right: 10px;
                }
                &:before{
                    transform: rotate(-45deg);
                }
                &:after{
                    transform: rotate(45deg);
                }
                
            }
        }
        
    }
}
.table{
    border-top: 1px solid #626262;
    tbody{
        tr{
            border-bottom: 1px solid #b9b9b9; height: 40px;
            th, td{
                padding: 5px 10px; line-height: 40px;
            }
            th{
                background-color: #edf2f7;
            }
            td{
                &.tl_c{
                    text-align: center;
                }
                &.border_right{
                    border-right: 1px solid #b9b9b9;;
                }
                button{
                    min-width: auto; width: 100%;
                }
                span.column{
                    font-size: 1.4rem; border-radius: 20px; border: 1px solid #b9b9b9; padding: 5px 10px;
                }
            }
        }
    }
}
.table_title{
    margin-top: 50px; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center; justify-content: flex-start;
    h6{
        font-size: 1.8rem; margin-right: 20px;
    }
    .btn-area{
        margin-top: 0;
    }
}
.table_layout{
    height: 300px; border-bottom: 1px solid #b9b9b9;
    .table{
        &.center{
            thead tr th, thead tr td, tbody tr th, tbody tr td{
                text-align: center;
            }
        }
        thead{
            height: 50px; line-height: 50px; border-bottom: 1px solid #b9b9b9; background-color: #f4f4f4;
            tr th.border_right{
                border-right: 1px solid #b9b9b9;;
            }
        }
        tbody{
            tr{
                td{
                    font-size: 1.4rem;
                }
            }
        }
    }
}
.btn.excel, .btn.chart{
    position: relative; width: fit-content;
    &::before{
        content: ''; display: inline-block; width: 20px; height: 20px; margin-right: 6px; vertical-align: middle;
    }
}
.btn.preview{
    color: #4A4A4A; border-color: #4A4A4A;
    &:hover{
        color: #016cbf; border-color: #016cbf;
    }
}
.btn.excel{
    color: #4A4A4A; border-color: #4A4A4A;
    &::before{
        background: url(../images/svg/excel.svg)no-repeat center/contain;
    }
    &:hover{
        color: #016cbf; border-color: #016cbf;
        &::before{
            background: url(../images/svg/excel_hover.svg)no-repeat center/contain;
        }
    }
}
.btn.chart{
    color: #4A4A4A; border-color: #4A4A4A;
    &::before{
        background: url(../images/svg/chart.svg)no-repeat center/contain;
    }
    &:hover{
        color: #016cbf; border-color: #016cbf;
        &::before{
            background: url(../images/svg/chart_hover.svg)no-repeat center/contain;
        }
    }
}
.scroll_y{
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%; background: #707070; border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #f4f4f4;
    }
}
.chart_area{
    border: 1px solid #626262; margin-top: 20px; padding: 20px; min-height: 300px; position: relative;
    span{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    }
}





